## Rossmann case - Forecast Sales analysis
Ol√°! Seja bem-vindo(a)!

Este projeto foi desenvolvido com foco no desenvolvimento do meu portf√≥lio de an√°lise de dados, demonstrando minhas habilidades em An√°lise Explorat√≥ria de Dados com Python e utiliza√ß√£o de estat√≠stica e regress√£o linear para previs√£o de demanda.

### Contexto de neg√≥cio
A Rossmann √© uma das maiores redes de farmacias da Europa, com mais de 3.000 lojas em opera√ß√£o. 
Para planejar um ciclo de reformas, o CFO da empresa precisa saber com anteced√™ncia quanto cada loja vai faturar nas pr√≥ximas seis semanas, informa√ß√£o essencial para uma aloca√ß√£o de or√ßamento inteligente. O objetivo deste projeto √© construir um modelo de regress√£o linear que fa√ßa essa previs√£o com base em vari√°veis como promo√ß√µes, feriados, sazonalidade e presen√ßa de concorrentes.

### Perguntas de neg√≥cio a serem respondidas
    1. Quanto cada loja vai vender nas pr√≥ximas 6 semanas?

### Etapas da An√°lise

- Importa√ß√£o de bibliotecas e carregamento dos dados
- Limpeza, tratamento e prepara√ß√£o
- An√°lise Explorat√≥ria de Dados (EDA)
- Prepara√ß√£o dos dados
- Modelagem com Regress√£o Linear
- Conclus√µes Regress√£o
- Conclus√µes Gerais


Fique √† vontade para entrar em contato comigo. Boa leitura!

---

### üìñ Carregamento das bibliotecas.

In [1]:
import pandas as pd

### üì• Importa√ß√£o de dados

In [ ]:
df_train = pd.read_csv('../sales_forecast_rossmann/rossmann-store-sales-files/train.csv', sep=',')
df_train

C:\Users\diogo\AppData\Local\Temp\ipykernel_24752\978421594.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_train = pd.read_csv('../sales_forecast_rossmann/rossmann-store-sales-files/train.csv', sep=',')

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1
...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,a,1
1017205,1112,2,2013-01-01,0,0,0,0,a,1
1017206,1113,2,2013-01-01,0,0,0,0,a,1
1017207,1114,2,2013-01-01,0,0,0,0,a,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1